{% extends "survey/base.html" %}
{% block content %}{% load survey %}
<h1>Surveys</h1>
<ul class="object-tools"><li><a href={% url survey-add %} class="addlink">Add survey</a></li></ul>
<fieldset class="module">
<table style="width: 100%">
    <thead><th>Survey</th><th>Status</th><th>Info</th><th>Actions</th></thead>
    {% for survey in object_list %}
    <tr class="{% cycle row1,row2 %}">
        <td><a href='{% url survey-detail slug=survey.slug %}'>{{ survey.title }}</a>
        </td>
        <td>{{ survey.status }}</td>
        <td>
        {% if user|can_view_answers:survey %}
            {% if survey.submission_count %}
                <a href='{% url survey-results slug=survey.slug %}'>{{ survey.submission_count }} Submission{{ survey.submission_count|pluralize:"s" }}</a>
            {% else %}
                No Submissions.
            {% endif %}
        {% endif %}
        {% if request|has_answered:survey %}You have <a href='{% url answers-detail slug=survey.slug,key=request.session.session_key %}'>completed</a> this survey.{% endif %}
        </td>
        <td><a href={% url survey-edit slug=survey.slug %}>Edit</a> <a href={% url survey-delete slug=survey.slug %}>Delete</a> Transfer | Publish</td>
    </tr>
    {% endfor %}
</table>
</fieldset>
{% endblock %}
