<p>
{% if bound_field.errors %}<p>{{ bound_field.errors }}</p>{% endif %}

<label for="id_{{ bound_field.name }}">{{ bound_field.label }}{% if bound_field.field.required %}<span class="required"><sup>*</sup></span>{% endif %} :</label><br />
{% if bound_field.form.question.get_image_url %}<img src="{{ bound_field.form.question.get_image_url }}"</img>{% endif %}
{% if bound_field.form.choice.get_image_url %}<img src="{{ bound_field.form.choice.get_image_url }}"</img>{% endif %}
{{ bound_field }}
{% if bound_field.help_text %} <p class="helptext">({{ bound_field.help_text }})</p> {% endif %}

</p>
